.herosection {
    background: rgb(255, 255, 255);
    background: linear-gradient(187deg, rgba(255, 255, 255, 0) 9%, rgba(0, 212, 255, 0.08175770308123254) 93%);
    background: rgb(255, 255, 255);
    background: linear-gradient(218deg, rgba(255, 255, 255, 0) 58%, rgba(255, 109, 168, 0.2862394957983193) 94%);
    width: 100%;
}

.hero {
    margin-top: 50px;
}

.row {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: flex-start;
}

.col-1 {
    display: flex;
}

.col-1 {
    width: 50%;
    margin-left: -40px;
}

.col-2 {
    padding-left: 40px;
}

.col h5 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #ff1133;
}

.col h1 {
    font-size: 55px;
    font-weight: 600;
    text-transform: capitalize;
    color: #1b2324;
}

.container-button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.arrowButt {
    padding: 10px;
    background: #ff1133;
    border: none;
    border-top-right-radius: 16px;
}

.container-button h3 {
    text-transform: capitalize;
}

.divider {
    margin-top: 20px;
    width: 300px;
    border-bottom: #1b232469 2px solid;
}

.social-network {
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.social-network div {
    width: 30px;
    height: 30px;
    border: 3px solid rgb(0, 120, 144);
    border-radius: 50%;
    padding: 10px;
}