.footer {
    margin-top: 40px;
    padding: 60px 0;
    width: 100%;
    background: rgb(80, 33, 0);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-position: center;
    background-size: cover;
}

.logo-footer {
    background: #e37f1b3c
}

.potfolio-presentation {
    width: 80%;
    margin: 0 auto;
    border-radius: 15px;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.mePresentation {
    width: 400px;
}

.mePresentation p {
    color: #ffffff;
    font-size: 18px;
}

.logo-footer h4 {
    font-size: 18px;
    font-weight: 800;
    text-transform: capitalize;
    color: #ffffff;
    text-shadow: 0px 0px 2px #898989;
}

.identity h1,
.social h1 {
    font-size: 24px;
    font-weight: 500;
    text-transform: capitalize;
    color: #e3801b;
}

.logo-footer,
.identity-icon,
.social-icon {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
    margin: 12px 0;
}

.identity-icon span,
.social-icon span {
    color: #ffffff;
    font-weight: 400;
    font-size: 18px;
}

.identity-icon img,
.social-icon img {}

@media screen and (max-width: 767px) {
    .potfolio-presentation {
        flex-wrap: wrap;
        width: 80%;
        border-radius: 0;
        background-color: transparent;
    }
    .mePresentation {
        border-radius: 0;
        background: transparent;
    }
}